.sponsorship {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-column: 2/3;
  gap: 3rem;
  margin: auto;
  max-width: 90%;
}

.sectionTitle {
  grid-column: 2/3;
  margin: auto;
  padding-bottom: 3rem;
}

.card {
  /* background-color: #ef6975; */
  width: 14rem;
  border-radius: 0.8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.title {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.card > p {
  margin: 0;
  line-height: 1.7;
}

.number {
  margin: 0;
  font-family: var(--font-roboto-mono);
  font-size: 0.6rem;
  color: rgb(184, 184, 184);
}

.init4u p {
  margin: 0;
  line-height: 1.7;
  font-size: 0.9rem;
  color: rgb(184, 184, 184);
}

.init4u {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0;
  margin-bottom: auto;
}

@media (max-width: 850px) {
  .sponsorship {
    gap: 1rem;
  }

  .card {
    width: 14rem;
    padding: 1rem;
  }
  .init4u > p {
    font-size: 0.8rem;
  }
}
