.number {
  font-size: 8rem;
  font-weight: 600;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-width: 400px;
}

.numbersContainer {
  display: flex;
}

.name {
  font-size: 2rem;
}
