.layout {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.layout h2 {
  grid-column: 2/12;
  margin: auto;
  padding-bottom: 5rem;
  font-size: 3rem;
}

.text {
  grid-column: 4/10;
  line-height: 1.8;
  font-style: italic;
}

@media (max-width: 1000px) {
  .text {
    grid-column: 2/12;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .layout h2 {
    padding-bottom: 3rem;
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .text {
    grid-column: 1/13;
  }
}
