.card {
  /* background-color: #ef6975; */
  width: 14rem;
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.title {
  font-size: 1.5rem;
}
.card > p {
  margin: 0;
}

.init4u {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0;
}
.init4u > li {
  font-size: 0.8rem;
  padding: 0;
}
