.sponsorship {
  display: flex;
  justify-content: center;
  grid-column: 2/3;
  gap: 3rem;
}

.link {
  grid-column: 2/3;
  text-decoration: none;
  width: 7rem;
  margin-top: 3rem;
  justify-self: end;
  margin-right: 11rem;
  color: #ef6975;
  border: 2px solid #ef6975;
  text-align: center;
  padding: 0.7rem;
  border-radius: 8px;
  font-family: var(--font-roboto-mono);
  font-weight: 500;
}
.link:hover {
  color: black;
  border: 2px solid #ef6975;
  background-color: #ef6975;
  transition: 0.5s ease-out;
}

.card:nth-child(2) {
  background-color: rgb(44, 44, 44);
}

.card:nth-child(3) {
  background-color: rgb(60, 60, 60);
}
.card {
  /* background-color: #ef6975; */
  width: 14rem;
  border-radius: 0.8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  background-color: rgb(25, 25, 25);
  /* background-color: rgb(46, 46, 46); */
  /* background-color: #ef6975; */
  /* From https://css.glass
  background: rgba(255, 255, 255, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); */
}

.title {
  font-size: 1.5rem;
}
.card > p {
  margin: 0;
}

.init4u {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0;
}
.init4u > li {
  font-size: 0.8rem;
  list-style: none;
  padding: 0;
}

@media (max-width: 1300px) {
  .link {
    margin-right: 2rem;
  }
}

@media (max-width: 1100px) {
  .card {
    width: 10rem;
    padding: 1.5rem;
  }
  .init4u > li {
    font-size: 0.7rem;
  }
}
@media (max-width: 850px) {
  .sponsorship {
    flex-direction: column;
    align-items: center;
  }

  .link {
    justify-self: center;
    margin-right: 0;
  }
  .card {
    width: 14rem;
    padding: 2rem;
  }
  .init4u > li {
    font-size: 0.8rem;
  }
}
