.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  padding: 1.5rem;
  grid-column: 2/3;
}

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  overflow: hidden;
}

.container {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  position: relative;
}

.headline {
  grid-column: 2/3;
  width: 55%;
  margin: auto;
  padding-bottom: 2rem;
}
.headline h2 {
  font-size: 2rem;
}
.text {
  line-height: 1.5;
}

.link1 {
  text-align: center;
  background-image: url(../../assets/event3.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1/1;
}

.link2 {
  text-align: center;
  background-image: url(../../assets/event1.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;

  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1/1;
}

.link3 {
  text-align: center;
  background-image: url(../../assets/event2.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;

  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1/1;
}

.link4 {
  text-align: center;
  background-image: url(../../assets/gad.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1/1;
}
.link1,
.link2,
.link3,
.link4 {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.link1:hover,
.link2:hover,
.link3:hover,
.link4:hover {
  transform: scale(1.05);
}

@media (min-width: 1600px) {
  .wrapper {
    width: 60%;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 1100px) {
  .link1 {
    min-width: 300px;
    min-height: 300px;
  }

  .link2 {
    min-width: 300px;
    min-height: 300px;
  }

  .link3 {
    min-width: 300px;
    min-height: 300px;
  }

  .link4 {
    min-width: 300px;
    min-height: 300px;
  }
}

@media (max-width: 700px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .headline {
    width: 70%;
    margin: 0;
  }

  .link1 {
    min-width: 200px;
    min-height: 200px;
  }

  .link2 {
    min-width: 200px;
    min-height: 200px;
  }

  .link3 {
    min-width: 200px;
    min-height: 200px;
  }

  .link4 {
    min-width: 200px;
    min-height: 200px;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 0.8rem;
  }
  .headline {
    width: 90%;
  }
}
