.divSection {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.h1 {
  grid-column: 1/8;
  font-size: 4rem;
}
.h1 span {
  color: var(--coral-color-100);
}

@media (max-width: 1000px) {
  .h1 {
    grid-column: 2/10;
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  .h1 {
    grid-column: 1/13;
    font-size: 2rem;
  }
}
