.pageSection {
  background-image: url(../../assets/callToJoin.jpg);
  background-size: cover;
  width: 100%;
  aspect-ratio: 16/9;
  max-height: 500px;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.description {
  width: 90%;
}

.card {
  grid-column: 2/3;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.link {
  font-weight: 500;
  text-decoration: none;

  width: 40%;
  color: white;

  border: 1px solid white;
  text-align: center;
  padding: 0.7rem;
  border-radius: 8px;
  font-family: var(--font-roboto-mono);
}
.link:hover {
  color: black;
  border: 1px solid white;
  background-color: white;

  transition: 0.5s ease-out;
}

@media (max-width: 1000px) {
  .link {
    width: 30%;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 2rem;
  }

  .description {
    width: 100%;
  }
  .card {
    gap: 1rem;
  }
  .link {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 0.8rem;
  }

  .link {
    width: 40%;
  }
}
