:root {
  background-color: rgb(16, 16, 16);
  color: white;
}

.grid-section {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
}
.grid-component {
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  padding: 10rem 0rem 10rem 0rem;
}

@media (max-width: 1000px) {
  .grid-component {
    padding: 5rem 0rem 5rem 0rem;
  }
}

@media (min-width: 1500px) {
  .grid-component {
    grid-template-columns: 10% 1fr 10%;
  }
  .grid-section {
    grid-template-columns: 10% 1fr 10%;
  }
}

@media (min-width: 1800px) {
  .grid-component {
    grid-template-columns: 15% 1fr 15%;
  }
  .grid-section {
    grid-template-columns: 15% 1fr 15%;
  }
}
