.h1 {
  grid-column: 2/3;
  font-size: 6rem;
  width: 70%;
  line-height: 1;
  margin-bottom: 0;
}
.section {
  background-color: black;
}
.h1 span {
  color: #ef6975;
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .h1 {
    font-size: 3rem;
    width: 90%;
  }
}
