.section {
  background-color: black;
}
.section h2 {
  font-size: 2rem;
  grid-column: 2/3;
}
.text {
  grid-column: 2/3;
  line-height: 1.5;
  width: 60%;
}

@media (max-width: 600px) {
  .text {
    width: 90%;
    font-size: 0.8rem;
  }
}
