.layout {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.section {
  background-color: black;
}

.text {
  grid-column: 5/12;
  line-height: 1.8;
}

@media (max-width: 1000px) {
  .text {
    grid-column: 2/12;
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 600px) {
  .text {
    grid-column: 1/13;
  }
}
