.componentContainer {
  grid-column: 2/3;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(0, 0, 0); */
  width: 70%;
  margin: auto;
  height: auto;
  gap: 5rem;
}

.component > * {
  margin: 0;
}

.h2 {
  font-size: 2rem;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  /* width: 60%; */
  height: auto;
}

.sponsors > * {
  margin: 0;
  width: 7rem;
  height: 7rem;
  /* background-color: gray; */
  /* border-radius: 50%;
  border: 0px solid gray; */
}

.ghostship {
  background-image: url("../../assets/ghostship.png");
  background-size: cover;
}
.sonicminds {
  width: 13rem;
  height: 5.5rem;
  background-image: url("../../assets/sonicminds.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.cujosound {
  width: 9rem;
  height: 9rem;
  background-image: url("../../assets/cujosound.png");
  background-size: cover;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.cta > * {
  margin: 0;
}

.cta > p {
  width: 60%;
  font-size: 0.9rem;
}

@media (max-width: 1200px) {
  .sponsors {
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .cta {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .cta > p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .component {
    gap: 2rem;
  }
  .sponsors {
    flex-direction: column;
  }
  .cta {
    width: 100%;
  }
  .cta > p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
